.vercel
# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
*.sqlite3

# Environment
.env
*.env

# Virtualenv
.venv/
venv/
ENV/

# Logs
*.log
logs/

# Node (se existir um front separado)
node_modules/
npm-debug.log*
yarn-error.log*

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

